  content {
    padding: 1px;
  }
  
  .profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  /* Add a card effect for articles */
  article {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
	  border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  
  /* Clear floats after the columns */
  main:after {
    content: "";
    display: table;
    clear: both;
  }

  .thumbnail1 {
    height: 200px;
    background-image: url(../img/bigO/pic01.png);
    display: block;
    background-size: cover;
    /*opacity: 0.5;*/
    /*box-shadow: 0 3000px #005ca788 inset;*/
  }

  .thumbnail2 {
    height: 200px;
    background-image: url(../img/restAPI/pic01.png);
    display: block;
    background-size: cover;
  }

  .thumbnail3 {
    height: 200px;
    background-image: url(../img/kotlinRestAPI/pic01.png);
    display: block;
    background-size: cover;
  }

  .thumbnail4 {
    height: 200px;
    background-image: url(../img/overridePolymorphism/pic01.png);
    display: block;
    background-size: cover;
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 49px;
  }