<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Joan Tolós</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="/public/js/menu.js"></script>
  <script src="https://kit.fontawesome.com/4ed8b0c0a9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="/public/css/menu.css">
  <link rel="stylesheet" href="/public/css/site.css">
</head>

<body>

  <nav class="menu">
    <a href="home.html">Joan Tolós</a>
    <a href="blog.html">BLOG</a>
    <a href="podcast.html">PODCAST</a>
    <a href="https://shop.spreadshirt.es/nadanuevobajoelsol" target="_blank">STORE</a>
    <a href="about.html">ABOUT</a>
    <a href="contact.html">CONTACT</a>
  </nav>

  <nav class="hamburger">
    <a href="javascript:void(0);" class="icon" onclick="openHamburguerMenu()">
      <i id = "hamburger-icon" style="text-align: right; display: block" class="fa fa-bars"></i>
      <i id = "hamburger-close" style="text-align: right; display: none" class="fa fa-times"></i>
    </a>
    <a class="home-button" href="home.html">Joan Tolós</a>
  </nav>

  <div id="links" class="links">
    <a href="blog.html">BLOG</a>
    <a href="podcast.html">PODCAST</a>
    <a href="https://shop.spreadshirt.es/nadanuevobajoelsol" target="_blank">STORE</a>
    <a href="about.html">ABOUT</a>
    <a href="contact.html">CONTACT</a>
  </div>

<footer>
  <p>copyright &copy; 2021 Joan Tolós. All rights reserved.</p>
</footer>

</body>
</html>


